@import "node_modules/bootstrap/scss/mixins";
@import "src/variable.scss";

.insta{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @include media-breakpoint-up(md){
    flex-direction: row;
  }
  &-top-navbar{
    @include media-breakpoint-up(md){
      border-right: 0.4px solid #373737;
      padding: 8px 65px 20px 12px;
    }
    @include media-breakpoint-up(lg){
      padding: 8px 12px 20px 12px;
      width: 245px;
    }
  }
  &-bottom-menu{
    @include media-breakpoint-up(md){
      display: none;
    }
  }
}
